.App {
  text-align: center;
}
.App-content {
  background-color: #282c34;
  color: azure;
  min-height: 100vh;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image {
  position: relative;
  background-image: url("./assets/images/dashboardgr.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -390px;
  color: #FFF;
  /* filter: blur(3px); */
  /* background-color: #FFFFFF; */
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, .6); */
  /* background-image: linear-gradient(to bottom, rgba(236, 122, 122, 0.6), rgba(236, 122, 183, 0)); */

}

.color{
  color: rgba(0,0,0,.7) !important;
}

.color-bg{
  background: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
}

.center{
  text-align: center;
}

.btn-reg{
  position: relative;
  min-width: 200px;
  border-radius: 50px;
  z-index: 9;
  border-color: rgb(236,122,139);
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.btn-log{
  border-color: rgb(236,122,139);
  position: relative;
  min-width: 100px;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.btn-log-mdl{
  height: 37px;
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
  border-color: rgb(236,122,139);
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.close{
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(161, 11, 0,.9);
  border-radius: 50px;
  padding: 5px;
  box-sizing: border-box;
  filter: drop-shadow(2px 0 2px rgba(0,0,0,.7));
}
.close{
  cursor: pointer;
}

.btn-log-mdl:hover{
  background: linear-gradient(90deg, #EC7A7A 0%, #EC7AB7 100%);
  border-color: rgb(236,122,139);
}

.btn-log:hover{
  background: linear-gradient(90deg, #EC7A7A 0%, #EC7AB7 100%);
  border-color: rgb(236,122,139);
}

.btn-reg:hover{
  cursor: pointer;
  background: linear-gradient(90deg, #EC7A7A 0%, #EC7AB7 100%);
}



.content{
  border: 1px solid black;
  text-align: center;
}

.head1-dashboard{
  font-size: 60px;
  color: rgba(0,0,0,.7) !important;
  filter: drop-shadow(5px 0 2px rgba(0,0,0,.7));
}

.bold{
  font-weight: 900;
  
}

.App-link {
  color: #61dafb;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 80px;
}

.header{
  position: absolute;
  top: 0;
}

.footer h1.head1-dashboard{
  font-size: 50px !important;
  line-height: inherit;
}

.form-control{
  background-color: #E6E6E6 !important;
}
.modal-content{
  width: 85% !important;
  /* width: 524px !important; */
  margin: auto !important;
  min-height: 350px;
}

.head-modal{
  position: relative;
  min-height: 120px;
  width: 100%;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}
.head-modal h1{
  margin-top: 30px;
  font-weight: 900 !important;
  box-sizing: border-box;
  color: rgba(0,0,0,.7) !important;
}

.body-modal{
  padding-bottom: 40px;
}

/* dashboard */

.panel-righ-dash{
  background-image: url("./assets/images/bgmain.jpg");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 575.98px) {
  .image {
    position: relative;
    background-image: url("./assets/images/dashboardgr.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0px;
    color: #FFF;
    min-height: 100vh;
  }

  .footer h1.head1-dashboard{
    font-size: 30px !important;
    line-height: inherit;
  }
}
